NEXT_PUBLIC_API_USUARIOS=https://0apxy10hqj.execute-api.us-east-1.amazonaws.com/dev
NEXT_PUBLIC_API_MERCADO=https://wv0ck02du6.execute-api.us-east-1.amazonaws.com/dev
NEXT_PUBLIC_API_TRANSACCIONES=https://n6jnr0ebe3.execute-api.us-east-1.amazonaws.com/dev
NEXT_PUBLIC_API_DISPUTAS=https://y2pylof1j5.execute-api.us-east-1.amazonaws.com/dev
